---
import { getStore } from '../atomic/getStore';
import ResourceClickHandler from '../components/ResourceClickHandler.astro';
import type { SocialLink } from '../ontologies/website';

type Props = {
  subject: string;
};

const { subject } = Astro.props;
const store = getStore();
const socialLinkResource = await store.getResource<SocialLink>(subject);
---

<ResourceClickHandler subject={subject}>
  <a href={socialLinkResource.props.externalLink}>
    {socialLinkResource.props.name}
  </a>
</ResourceClickHandler>
