---
import type { Resource, Server } from '@tomic/lib';
import type { Blogpost } from '../../ontologies/website';
import Container from '../../components/Layout/Container.astro';
import { getStore } from '../../atomic/getStore';
import { marked } from 'marked';
import PageImageHeader from '../../components/PageImageHeader.astro';

type Props = {
  resource: Resource<Blogpost>;
};

const { resource } = Astro.props;
const store = getStore();
const image = await store.getResource<Server.File>(resource.props.coverImage);

const formatter = new Intl.DateTimeFormat('default', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

const date = formatter.format(new Date(resource.props.publishedAt));

const content = marked.parse(resource.props.description);
---

<article>
  <PageImageHeader src={image.props.downloadUrl} />
  <Container>
    <div class='blog-wrapper'>
      <h2>{resource.title}</h2>
      <div class='publish-date'>{date}</div>
      <div set:html={content} />
    </div>
  </Container>
</article>

<style>
  .blog-wrapper {
    padding-block: 1rem;
    max-width: 70ch;

    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
</style>
