---
import type { Resource } from '@tomic/lib';
import type { TeamBlock } from '../../ontologies/website';
import EASSTTeamMember from '../EASSTTeamMember.astro';
import VStack from '../../components/Layout/VStack.astro';
import Container from '../../components/Layout/Container.astro';
type Props = {
  resource: Resource<TeamBlock>;
};

const { resource } = Astro.props;
---

<Container>
  <div class='team-block'>
    <VStack gap='2rem'>
      <h3>{resource.title}</h3>
      {
        resource.props.teamMembers?.length && (
          <VStack>
            <h4>Board Members</h4>
            {resource.props.teamMembers.map(member => (
              <EASSTTeamMember subject={member} />
            ))}
          </VStack>
        )
      }
      {
        resource.props.affiliates?.length && (
          <VStack>
            <h4>Affiliates</h4>
            {resource.props.teamMembers.map(member => (
              <EASSTTeamMember subject={member} />
            ))}
          </VStack>
        )
      }
    </VStack>
  </div>
</Container>

<style>
  .team-block {
    background-color: var(--t-background-white);
    border: 2px solid var(--t-colors-border-light);
    padding: var(--t-spacing-4);
    border-radius: var(--t-border-radius);

    @media (max-width: 550px) {
      border: none;
      margin-inline: -1rem;
      border-radius: 0;
      padding-inline: 0;
    }
  }
  h3 {
    text-align: center;
  }
  h4 {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;

    &::before,
    &::after {
      content: '';
      flex: 1;
      background-color: var(--t-colors-border);
      height: 1px;
    }
  }
</style>
